.post {
  background-color: #ffffff;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post__img {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text {
  font-weight: normal;
  padding: 10px;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.post__avtar {
  margin-right: 10px;
}
